{% extends 'base.html' %}

{% block content %}
<h3>Applications History</h3>

<table border="1" cellpadding="5" cellspacing="0" style="width: 100%;">
    <tr style="background-color: #ddd;">
        <th>Application ID</th>
        <th>Student Info</th>
        <th>Company Applied</th>
        <th>Job Title</th>
        <th>Application Date</th>
        <th>Result</th>
    </tr>
    {% for app in applications %}
    <tr>
        <td>{{ app.id }}</td>
        <td>{{ app.student.name }} <br><small>({{ app.student.email }})</small></td>
        <td>{{ app.drive.company.name }}</td>
        <td>{{ app.drive.title }}</td>
        <td>{{ app.appDate.strftime('%Y-%m-%d %H:%M') }}</td>
        <td><strong>{{ app.status }}</strong></td>
    </tr>
    {% else %}
    <tr>
        <td colspan="6">No applications</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
