{% extends 'base.html' %}

{% block content %}
<h3>Company Registration Form</h3>
<form method="POST" style="border: 1px solid #ccc; padding: 20px; width: 350px;">
    <p>
        <label>Company Name:</label><br>
        <input type="text" name="name" required>
    </p>
    <p>
        <label>Email:</label><br>
        <input type="email" name="email" required>
    </p>
    <p>
        <label>Password:</label><br>
        <input type="password" name="pas" required>
    </p>
    <p>
        <label>Industry:</label><br>
        <input type="text" name="idy" required>
    </p>
    <p>
        <label>HR Contact:</label><br>
        <input type="text" name="hr" required>
    </p>
    <p>
        <label>Website:</label><br>
        <input type="url" name="site">
    </p>
    <input type="submit" value="Register">
</form>
<br>
<a href="/login">Go to Login</a>
{% endblock %}
