{% extends 'base.html' %}

{% block content %}
<h3>Login Page</h3>

<form method="POST" style="border: 1px solid #ccc; padding: 20px; width: 300px;">
    <p>
        <label>Select Role:</label><br>
        <select name="role" required>
            <option value="student">Student</option>
            <option value="company">Company</option>
            <option value="admin">Admin</option>
        </select>
    </p>
    <p>
        <label>Email:</label><br>
        <input type="text" name="email" required>
    </p>
    <p>
        <label>Password:</label><br>
        <input type="password" name="pas" required>
    </p>

    <input type="submit" value="Login">
</form>
{% endblock %}
